<br>
<div class="fullcalender">
  <div class="row text-center fullcalender">
    <div class="col-md-4">
     
  </div>
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4 ng-actions">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
     <div class="btn-group">
        <div
          class="btn btn-secondary"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Month
        </div>
        <div
          class="btn btn-secondary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </div>
        <div
          class="btn btn-secondary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </div>
    </div>
    <div class="btn-group">
          <div
            class="btn btn-secondary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            Previous
          </div>
          <div
            class="btn btn-outline-secondary"
            mwlCalendarToday
            [(viewDate)]="viewDate"
          >
            Today
          </div>
          <div
            class="btn btn-secondary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            Next
          </div>
      </div>
  </div>
</div>
<br />

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
 
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh" 
    [dayStartHour]="dayStartHour"
    (hourSegmentClicked)="hourSegmentClicked($event)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (hourSegmentClicked)="hourSegmentClicked($event)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  > 
  </mwl-calendar-day-view>
</div>

 
 
<!-- view edit delete  --> 
 <ng-template id="myModal"   #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <div class="modal-body"> 
        <input
            class="form-control"
            type="text" 
            [(ngModel)]="modalData?.event.title"
            (ngModelChange)="refresh.next()" 
            placeholder="Title"
          />
        <div class="input-box" >
          <input
            class="form-control"
            type="datetime-local"
            mwlFlatpickr
            [(ngModel)]="modalData?.event.start"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
          <div class="input-box">
            <input
                class="form-control "
                type="datetime-local"
                mwlFlatpickr
                [(ngModel)]="modalData?.event.end"
                (ngModelChange)="refresh.next()"
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                dateFormat="Y-m-dTH:i"
                altFormat="F j, Y H:i"
                placeholder="Not set"
            />
         </div>
        </div> 

          <div class="calender-add-colors">
              <div class="input-box">
                <label>Select Primary Color for event</label> 
                <input
                    type="color"
                    [(ngModel)]="modalData?.event.color.primary"
                    (change)="refresh.next()"
                    class="form-control" 
                  />
               </div>
               <div class="input-box">
                  <label>Select Secondary BG color for the event span</label> 
                  <input
                        type="color"
                        [ngModel]="modalData?.event.color.secondary ?? '#1e90ff'"
                        (ngModelChange)="modalData?.event.color.secondary = $event"
                        (change)="refresh.next()"
                        class="form-control" 
                        />
                </div>
            </div>
        
    </div>
      <div class="modal-footer input-box">
        <button class="btn btn-danger" (click)="deleteEvent(modalData?.event)" (click)="close()">
            Delete
        </button>
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
           Update
        </button>
     </div> 
</ng-template> 

<!-- add -->
<ng-template   #modalContent2 let-close="close">
     <div class="modal-header">
            <h5 class="modal-title">Add new Event</h5>
            <button type="button" class="close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
       </div>
    <form [formGroup]="addEventData" class="modal-header" (ngSubmit)="SubmitEvent()">
        <div class="modal-body">
          
        <div class="input-box"> 
            <input
              type="text"
              name="title"
              class="form-control" 
              formControlName="title"
              placeholder="Enter event title"
              (ngModelChange)="refresh.next()"  
            /> 
          <div class="calender-add-colors " >
              <div class="input-box" >
                <label>Primary Color for the event</label> 
                    <input
                        type="color"
                        name="primaryColor"
                        class="form-control" 
                        formControlName="primaryColor"
                        (ngModelChange)="refresh.next()" 
                    />
               </div>
                 <div class="input-box">
                    <label>Secondary Color for the event</label> 
                    <input
                        type="color"
                        name="secondaryCOlor"
                        class="form-control" 
                        formControlName="secondaryCOlor"
                        (change)="refresh.next()"
                        (ngModelChange)="refresh.next()"
                      /> 
                    </div>
                 </div>
             </div>
           
          <div class="input-box">
            <!-- static date  -->
            <input
              class="form-control" 
              type="hidden" 
              formControlName="start"   
              placeholder="Not set"
              (change)="refresh.next()"
              (ngModelChange)="refresh.next()"
              readonly
            />
            <!-- dynamic time  -->
            <input
              class="form-control"
              type="text"  
              formControlName="end" 
              (change)="refresh.next()"
              (ngModelChange)="refresh.next()"
              readonly
            />
          </div>
          <div class="input-box">
             <!-- static date  -->
             <input
             class="form-control"
             type="time"  
             formControlName="startTime" 
             placeholder="Not set"
             (change)="refresh.next()"
             (ngModelChange)="refresh.next()"
           />
           <!-- dynamic time  -->
           <input
            class="form-control"
            type="time"  
            formControlName="endTime" 
            placeholder="Not set"
            (change)="refresh.next()"
            (ngModelChange)="refresh.next()"
         />          
          <div>
            <br>
            <button type="submit" class="btn btn-primary float-end"  (click)="SubmitEvent()"   (click)="close()">
                Add new
           </button>
          </div> 
       </div>
        </div>
     </form> 
  </ng-template>
</div>